<header class="border-b shadow-md px-6 py-3 w-full fixed top-0 z-50 bg-white/90 backdrop-blur-md">
    <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
  
      <!-- Logo -->
      <a routerLink="/">
        <img src="/images/logo.png" alt="app logo" class="h-14 transition hover:scale-105 duration-300">
      </a>
  
      <!-- Navigation -->
      <nav class="hidden md:flex gap-6 uppercase text-base font-semibold text-gray-700 tracking-wide">
        <a routerLink="/" routerLinkActive="text-primary" [routerLinkActiveOptions]="{exact:true}" class="hover:text-primary transition">Home</a>
        <a routerLink="/shop" routerLinkActive="text-primary" class="hover:text-primary transition">Shop</a>
        <a routerLink="/test-error" routerLinkActive="text-primary" class="hover:text-primary transition">Errors</a>
      </nav>
  
      <!-- Right Actions -->
      <div class="flex items-center gap-4">
  
        <!-- Cart -->
        <a routerLink="/cart"
           matBadge="{{cartService.itemCount()}}"
           matBadgeSize="large"
           class="relative text-gray-700 hover:text-primary transition">
          <mat-icon>shopping_cart</mat-icon>
        </a>
  
        <!-- User -->
        @if(accountService.currentUser()) {
          <button mat-button [matMenuTriggerFor]="menu" class="flex items-center gap-1 text-sm font-medium hover:text-primary transition">
            <mat-icon>arrow_drop_down</mat-icon>
            <span>{{accountService.currentUser()?.email}}</span>
          </button>
        } @else {
          <button routerLink="/account/login" mat-stroked-button color="primary" class="rounded-md">Login</button>
          <button routerLink="/account/register" mat-stroked-button color="accent" class="rounded-md">Register</button>
        }
      </div>
    </div>
  </header>
  
  <!-- Progress bar -->
  @if(busyService.loading) {
    <mat-progress-bar mode="indeterminate" class="fixed top-20 z-50"></mat-progress-bar>
  }
  
  <!-- Menu -->
  <mat-menu #menu="matMenu" class="px-5">
    <button mat-menu-item routerLink="/cart" class="px-3">
      <mat-icon>shopping_cart</mat-icon> My Cart
    </button>
    <button mat-menu-item routerLink="/order" class="px-3">
      <mat-icon>history</mat-icon> My Orders
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()" class="px-3">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>
  